* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

li {
    list-style: none;
}

body {
    font-family: sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

@media (max-width: 1160px) {
     .container {
        width: 1040px;
        background-color: red;
     }
}

@media (max-width: 1060px) {
    .container {
       width: 940px;
       background-color: green;
    }
}

@media (max-width: 960px) {
    .container {
       width: 840px;
       background-color: orangered;
    }
}

@media (max-width: 860px) {
    .container {
       width: 740px;
       background-color: blue;
    }

    .text-landguru {
        font-size: 18px;
    }
}

@media (max-width: 760px) {
    .container {
       width: 640px;
       background-color: coral;
    }

    .link-landguru {
        font-size: 12px;
    }
}

@media (max-width: 660px) {
    .container {
       width: 540px;
       background-color: purple;
    }

    .link-landguru {
        display: none;
    }
}

@media (max-width: 560px) {
    .container {
       width: 440px;
       background-color: red;
    }
}

@media (max-width: 460px) {
    .container {
       width: 340px;
       background-color: green;
    }

    .text-landguru {
        font-size: 15px;
    }
}

@media (max-width: 360px) {
    .container {
       width: 240px;
       background-color: aqua;
    }
}

@media (max-width: 260px) {
    .container {
       width: 140px;
       background-color: darkred;
    }
}


.img-landguru {
    display: flex;
    align-items: center;
}

header {
    background-color: #2A5298;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.ul_s {
    display: flex;
}

.link-landguru {
    margin: 0 15px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.get-landguru {
    text-transform: capitalize;
    color: #FFFFFF;
    border: 2px solid darkgray;
    padding: 15px 25px;
    border-radius: 25px;
}

.text-landguru {
    color: #FFFFFF;
    text-transform: capitalize;
    margin-left: 20px;
}